@import 'reset'
@import 'extend'
@import 'mixins'
@import 'variables'



// main style
body
    font-size: 16px
    line-height: 1
    font-family: 'Poppins', sans-serif
    font-style: normal
    font-weight: 400
    // background-color: #000
    color: $color-text-gray
    font-size: 16px
    line-height: 37px

h1, h2, h3, h4, h5
    line-height: 110%
    color: $text-color-black

h1, h2, h4
    font-weight: 700

h3, h5
    font-weight: 600


h1
    font-size: 70px

h2
    font-size: 60px

h3
    font-size: 48px

h4
    font-size: 40px

h5
    font-size: 38px


// ==================================
.wrapper
    max-width: 1440px
    margin: 0 auto

.__container
    max-width: 1220px
    margin: 0 auto

.header 
    // height: 100vh

.logo 
    h4
        color: $text-color-white
        font-weight: 800
        span
            color: $text-color-pink

.navbar
    padding: 0 41px 0 36px
    height: 101px
    background-color: $main-color-pink
    display: flex
    justify-content: space-between
    align-items: center

.navbar__list
    display: flex
    align-items: center
    gap: 76px

.navbar__item 

.navbar__link 
    color: $text-color-white


.search__link
    display: flex
    align-items: center
    gap: 6px
    font-size: 16px

.navbar__btn
    display: flex
    width: 166px
    height: 50px
    justify-content: center
    align-items: center
    color: $main-color-pink
    border-radius: 200px
    background-color: $text-color-white

// ==========carousel======

.carousel,
.carousel-two
    position: relative
    width: 100%
    overflow: hidden


.slides,
.slides-two
    position: relative
    height: 100%
    z-index: -1
    display: flex
    transition: transform 0.5s ease-in-out


.slide,
.slide-two
    flex: 0 0 100%
    img
        max-width: 100%
        object-fit: cover

.indicators,
.indicators-two
    position: absolute
    bottom: 29px
    left: 50%
    transform: translateX(-50%)
    display: flex
    align-items: center
    gap: 8px


.indicator,
.indicator-two
    width: 12px
    height: 12px
    border-radius: 50%
    background-color: white
    cursor: pointer


.indicator.active,
.indicator-two.active
    background-color: $main-color-pink
    width: 17px
    height: 17px

// ==========title======
.title
    position: absolute
    display: flex
    flex-direction: column
    align-items: center
    width: 634px
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    h1
        color: $text-color-white
        text-align: center
        margin-bottom: 21px
        span
            color: $text-color-pink
    .btn__link
        @include btn-link
        color: $text-color-white
        font-weight: 600
        background: $main-color-pink
.title
    h2
        width: 850px
        color: $text-color-white
        text-shadow: 0px 0px 60px rgba(0, 0, 0, 0.46)
        margin-bottom:14px
    p
        color: $text-color-white
        text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.50)
        font-size: 17px
        margin-bottom: 18px
        text-align: center
    
// =========
.info__page 
    display: flex
    justify-content: space-between
    padding: 108px 0 250px 0
.info__page-img 
    position: relative
    display: block
    width: 100%
    img
        position: absolute
        &:nth-child(1)
            top: 0
            left: 0
        &:nth-child(2)
            top: 144px
            left: 199px
            

.info__page-text 
    display: block
    max-width: 540px
    h4
        color: $main-color-pink
        margin-top: 103px
        margin-bottom: 6px
    p
        margin-bottom: 34px
    .btn__link 
        @include btn-link
        border: 2px solid $main-color-pink
        color: $main-color-pink


.infe__two
    img
        &:nth-child(1)
            right: 128px
            left: auto
            z-index: 10
        &:nth-child(2)
            right: 0
            left: auto
            z-index: 5
        

// ===================
.page__back-color
    background: linear-gradient(180deg, #FFF 0%, rgba(255, 255, 255, 0.00) 100%), #F4E3E9
.reviews__page
    padding: 0 0 81px 113px
.reviews__block
    display: flex
    align-items: center
    margin-left: 97px
    margin-top: -100px
    gap: 33px

.reviews__item
    width: 290px
    height: auto
    border-radius: 10px
    background: $text-color-white
    box-shadow: 1px 4px 8px 0px rgba(0, 0, 0, 0.18)
    padding: 35px 32px 38px 27px
    h5
        color: $main-color-pink
    >div
        display: flex
        gap: 8px
        margin-top: 16px
        &::before
            content: '“'
            display: inline-block
            color: #F8C5D7
            font-family: Times New Roman
            font-size: 58px
            font-weight: 700
        >div
            >p
                @extend %subtitle
                margin-bottom: 20px

.reviews__sub-item
    display: flex
    flex-direction: column
    gap: 33px
    .reviews__item
        &:nth-child(1)
            width: 390px
            height: auto
        &:nth-child(2)
            width: 292px
            height: auto
            
.reviews__user
    display: flex
    align-items: center
    gap: 17px
    img
        width: 59px
        height: 57px
        background-size: cover
        object-fit: cover
        border-radius: 50% 


.user__block
    line-height: 1.4
    p
        &:nth-child(2)
            color: $color-text-light-gray
            font-size: 14px


.user__name
    @extend %subtitle
    font-weight: 600

// ==========================

.application
    display: block
    height: 200px
    background-color: $main-color-pink
