
$font-poppins:'Poppins', sans-serif
$font-manrope:'Manrope', sans-serif
$font-open-sans:'Open Sans', sans-serif

// color
$text-color-white:#FFF
$text-color-pink:#FFC1D8
$background-color-pink: #E43071
$color-text-gray:#424242
$color-text-light-gray:#969BAB
$color-text-med-gray:#D9DBE1

    
h1
    color: $text-color-white
    text-align: center
    font-family: Poppins
    font-size: 70px
    font-style: normal
    font-weight: 700
    line-height: 110%

h2


h3

